*,
ul,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: 85vh;
}
footer {
  min-height: 15vh;
}

.ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 30px;
}
.ais-Hits {
  margin-bottom: 30px;
}
