.container {
  margin-top: 50px;
  position: relative;
  top: 100px;
}

.content {
  padding: 45px 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 -5px 20px 0 rgb(56 74 235 / 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  text-align: center;
}
.intro h3 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.intro p {
  color: #777;
  font-size: 18px;
  margin-bottom: 35px;
}
.form .input {
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  width: 360px;
  color: rgb(73, 80, 87);
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 30px;
  height: 50px;
  border-color: #eee;
  padding-left: 20px;
  font-size: 14px;
  outline: none;
}
.form .btn {
  display: inline-block;
  border: 1px solid #384aeb;
  border-radius: 30px;
  color: #222;
  font-weight: 500;
  padding: 16px 40px;
  background: #384aeb;
  color: #fff;
  transition: all 0.4s ease;
  margin-left: 15px;
  cursor: pointer;
}
.form .btn:hover {
  background-color: #fff;
  color: #384aeb;
}

@media (min-width: 1000px) {
  .content {
    padding: 85px 10px;
  }
  .intro h3 {
    font-size: 36px;
  }
  .form .btn {
    padding: 16px 30px;
    font-size: 15px;
  }
}
