.intro {
  margin: 70px 0 50px 0;
}
.intro p {
  margin-bottom: 3px;
  color: #777;
}
.intro h2 {
  font-size: 36px;
  font-weight: 800;
  color: #222;
  position: relative;
  display: inline-block;
  border-bottom: 2px solid #384aeb;
  padding-bottom: 8px;
} 
.showcase {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 100px;
}

@media screen and (max-width: 700px) {
  .showcase {
    grid-template-columns: repeat(3, 1fr);
  }
}
